@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


$fontColor: #396be0;

.body{
    font-family: 'Poppins';
    background: #dee5ec;
  display: grid;
  place-items: center;
  height: calc(100vh - 50px);
  padding: 40px;
  font-family: "Lato", sans-serif;
}

.row-hero__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.column-hero__text{
    flex: 50%;
    height: auto;
}

.column-hero__img{
    flex:50%;
    height: auto;
}

.hero-wrapper{
    width:100%;
    display: flex;
    align-items: center;
    
}
.hero-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--dark-gray);
}

.hero-copy {
    margin-bottom: 30px;
    color: #6d6d6d;
    font-size: 14px;
}

.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
}
  

.brief{
    max-width: 100%;
    font-size: smaller;
    text-align: justify;
    padding-left: 10%;
    margin-right: 10%;
    color: #393C43;
}

.intro-text{
    padding-top: 15%;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: #393C43;
}

.img__hero{
    padding-top: 1%;
    display: flex;
    border-radius: 40%;
    box-shadow: 15px 10px 5px rgb(182, 179, 179);
    max-width: 100%;
    height: auto;
}

@media (max-width: 769px) {
    body {
      display: block;
      padding: 0;
    }
}